<p>Vuelos works!</p>
<div class="navLinks">|
    <a [routerLink]="['./main']">Main</a> |
    <a [routerLink]="['./info']">Info</a> |
    <a [routerLink]="['./', 5]">Vuelos </a> |
</div>

<router-outlet></router-outlet>