<form [formGroup]="fg" (ngSubmit)="saveDestination(fg.controls['name'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="name"><strong>Destino</strong></label>
        <!-- 
            <div *ngIf="!fg.controls['name'].valid"><em>- Invalid name!</em></div>
        -->

        <!--
            <div *ngIf="fg.controls['name'].hasError('invalidName')"><em>- Invalid name!</em></div>
        -->
        <div *ngIf="fg.controls['name'].hasError('minLengthName')" class="alert alert-danger" role="alert"><em>- Minimo {{minLength}} caracteres para el Nombre!</em></div>
        <div *ngIf="fg.controls['name'].hasError('required')" class="alert alert-danger" role="alert"><em>- Requiere Nombre!</em></div>
        <br>
        <input type="text" class="form-control" id="name" placeholder="Ingresa tu destino..." [formControl]="fg.controls['name']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
    </div>

    <div class="form-group">
        <label for="url"><strong>Imagen URL</strong></label>
        <div *ngIf="fg.controls['url'].hasError('required')" class="alert alert-danger" role="alert"><em>- RequiereURL</em></div>
        <br>
        <input type="text" class="form-control" id="url" placeholder="Example: https://wallpapercave.com/wp/wp1844656.jpg " [formControl]="fg.controls['url']">
    </div>
    <!-- Basta con ser de tipo submit -->
    <button type="submit" class="btn btn-success" *ngIf="fg.valid">Guardar!</button>
</form>