<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>

            <!--form card login with validation feedback-->
            <div class="card card-otline-secondary">
                <div class="header">
                    <h3 class="mb-0 text-center">Wishlist</h3>
                </div>

                <div class="body">
                    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                </div>
            </div>
            <!--End Card-->
        </div>
        <!--End Col-->
    </div>
    <!--End row-->

    <hr class="mb-5">

    <div class="row row-flex">
        <app-destino-viaje *ngFor="let d of destinosApiClient.getAll(); let i=index" [destino]='d' [idx]="i+1" (clicked)="elegido(d)" appEspiame>
        </app-destino-viaje>
    </div>

    <hr class="mb-5">


    <div class="row justify-content-center">
        <ul style="list-style:none">
            <h5 class="text-center">Actividad</h5>
            <li class="alert alert-secondary" role="alert" *ngFor="let u of updates">{{u}}</li>
        </ul>
    </div>

</div>
<!--End container-->