<p>
  reservas-listado works!
</p>

<div class="navLinks">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./', 10]">Ir a detalle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./login']">Ir a login</a>
    </li>
  </ul>
</div>
<div *ngFor="let r of api.getAll()">
  {{ r.id }} - {{ r.name }}
</div>